header
    nav.nav.nav--primary
        span.fa.fa-bars.nav--menu(data-toggle="sidebar", data-toggle-target="#sidebar")
            span.nav--menu__title GoQuo API System
        span.nav--user-menu admin@goquo.com 
            span.span-fa-text.fa.fa-sort-down
