aside.sidebar#sidebar
    .sidebar__container
        ul.sidebar__items
            li.sidebar__item(title="Dashboard")
                a.sidebar__item__link(href="./dashboard.html")
                    span.fa.fa-home
                    span.span-fa-text.sidebar__item__text Dashboard
            li.sidebar__item(title="Users")
                a.sidebar__item__link(href="./users.html")
                    span.fa.fa-user-circle
                    span.span-fa-text.sidebar__item__text Users
            li.sidebar__item(title="Suppliers")
                a.sidebar__item__link(href="./suppliers.html")
                    span.fa.fa-users
                    span.span-fa-text.sidebar__item__text Suppliers
