aside.sidebar#sidebar
    .sidebar__container
        ul.sidebar__items
            li.sidebar__item
                a.sidebar__item__link(href="./")
                    span.fa.fa-home
                    span.span-fa-text.sidebar__item__text Dashboard
            li.sidebar__item
                a.sidebar__item__link(href="./users.html")
                    span.fa.fa-user-circle
                    span.sidebarspan-fa-text.__item__text Users
            li.sidebar__item
                a.sidebar__item__link(href="./suppliers.html")
                    span.fa.fa-users
                    span.sspan-fa-text.idebar__item__text Suppliers
