doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title GoQuo
    meta(name='description', content='GoQuo')
    meta(name='csrf-token', content=_csrf)
    link(rel="stylesheet", href="../css/main.css")

  body
    .wrapper
      include mixins/loader
      include mixins/loader-svg
      include partials/header
      include partials/sidebar

      .content-container.xloading
        .block-content-wrapper
          block content
        .loader-container.xloading
          +loaderSvg()

    script(src='../js/lib/Chart.min.js')
    script(src='../js/lib/jquery-3.1.1.min.js')
    script(src='../js/main.js')
    block script
