extends layout

block content
    .container 
        .header
            h4 Users
            p Viewing all users' detail
        .body
            table.table--cross(style='width:100%')
                tr
                    th Name
                    th Email 
                    th Action  
                tr
                    td DOTW 
                    td dotw@goquo.com
                    td 
                        button.btn.btn--transparent
                            span.fa.fa-save
                            span &nbsp Edit
                tr
                    td DOTW 
                    td dotw@goquo.com
                    td 
                        button.btn.btn--transparent
                            span.fa.fa-save
                            span &nbsp Edit
            .table-info
                p Showing 2 of 2 entries
