html {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}
.wrapper {
  background-color: $background_main;
}
*, *:before, *:after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.span-fa-text {
  margin-left: 4px;
}

// General classes
.flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.none-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;     
}

// Minxins
@mixin display-grid {
  display: -ms-grid;
  display: grid;
}
