// Local vars
$header_height: 60px;
$header_font_size: 16px;
$header_font_size_mobile: 14px;
$header_line_height: 1.4;

.nav {
  height: $header_height;
  width: 100%;
  background-color: #ddd;
}
.nav--primary {
  background-color: $background_main;
  font-size: $header_font_size_mobile;
  line-height: $header_line_height;
  padding: calc(#{$header_height}/2 - #{$header_font_size_mobile}*#{$header_line_height}/2) 15px; // = (header_height - line_height * font_size) / 2
  color: #fff;

  @media #{$break_sm} {
    font-size: $header_font_size;
    padding: calc(#{$header_height}/2 - #{$header_font_size}*#{$header_line_height}/2) 15px; // = (header_height - line_height * font_size) / 2
  }
}
.nav--menu {
  cursor: pointer;

  .nav--menu__title {
    margin-left: 12px;
    font-family: Roboto;
  }
}
.nav--menu__title {
  margin-left: 12px;
  font-family: Roboto;
  color: #fff;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: #ddd;
    text-decoration: none;
  }
}
.nav--user-menu {
  float: right;
  cursor: pointer;
  font-size: 13px;
  position: relative;

  .nav--user-menu__dropdown {
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    background-color: #000;
    padding: 12px;
    color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .12);

    &::before {
      top: -16px;
      right: 9px;
      left: auto;
      border: 8px solid transparent;
      border-bottom-color: rgba(27, 31, 35, 0.15);
      position: absolute;
      display: inline-block;
      content: "";
    }
    &::after {
      top: -14px;
      right: 10px;
      left: auto;
      border: 7px solid transparent;
      border-bottom-color: #000;
      position: absolute;
      display: inline-block;
      content: "";
    }
    &.open {
      display: block;
    }
  }

  input {
    position: absolute;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
}
