// Local vars
$sidebar_width: 200px;
$sidebar_max_width: 200px;
$sidebar_collapsed_width: 50px;

.sidebar {
    overflow: hidden;
    width: $sidebar_width;
    max-width: 100vw;
    position: absolute;
    left: 0;
    top: $header_height;
    
    height: calc(100vh - #{$header_height});
    background-color: $background_main;
    border-top: solid 1px $text_active;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    transition: max-width .3s ease-in-out;

    @media #{$break_sm} {
        max-width: $sidebar_max_width;
    }

    .sidebar__container {
        width: $sidebar_width;
        max-width: 100vw;

        @media #{$break_sm} {
            max-width: $sidebar_max_width;
        }
    }

    &.collapsed {
        max-width: $sidebar_collapsed_width;

        .sidebar__item__text {
            display: none;
        }
    }
}
.sidebar__items {
    .sidebar__item {
        cursor: pointer;
        &:not(:first-child) {
            margin-top: 12px;
        }

        .sidebar__item__link {
            color: #fff;
            text-decoration: none;
        }
        .sidebar__item__text {
            margin-left: 6px; 
        }
    }
}
